:root {
    --color-primary: rgb(218, 41, 28);
    --color-secondary: rgba(218, 41, 28, .5);
    --color-three: rgba(218, 41, 28, .1);
    --color-white: #FFFFFF;
    --color-text: #1b1b1b;
    --color-hover-button: rgba(218, 41, 28, .8);
    --color-gray: #eeeeee;
}

body {
    background-color: var(--color-three);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    line-height: 150%;
}

.avianca__page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avianca__header {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 5px;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avianca__subtitle {
    color: var(--color-white);
    text-align: center;
    font-size: 12px;
}

.avianca__card {
    padding: 10px;
    width: 95%;
    margin: auto;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--color-white);
    border-radius: 5px;
}

.tooltip {
    padding:5px;
    color: var(--color-primary);
    background-color: var(--color-three);
    text-align: center;
    border-radius: 32px;
    width: 40px;
    font-weight: 600;
    font-size: 15px;
}

.avianca__card__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--color-text);
}

.avianca__actions_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.action__button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    width: 100%;
    cursor: pointer;
}

.action__button:hover {
    background-color: var(--color-hover-button);
}

.avianca__card__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avianca__card__item{
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 5px;
}

.avianca__divider {
    border-bottom: 1px solid gray;
}

.avianca__footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.avianca__author {
    display: flex;
    gap: 5px;
}

.avianca__logo__evolutivos {
    background-image: url(./images/icon-48.png);
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 50px;
}